body {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#logoContainer {
  
}


#image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
}
img {
  height: 300px;
}

#search {
    width: 100vh;
}

.listItem {
  padding: 10px 20px 10px 20px;
  background-color: grey;
  margin: 5px;
}