body {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


#image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
}
img {
  height: 300px;
}

#search {
    width: 100vh;
}
